:root {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
    background: radial-gradient(circle, rgba(255,255,255,1) 6%, rgba(148,144,144,1) 37%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    background-size: contain;
    background-repeat: no-repeat;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle, rgba(255,255,255,1) 6%, rgba(148,144,144,1) 37%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    min-height: 900px;
    
}

#titleWordle {
    margin: 30px;
    height: 30px;
    width: 100%;
    font-size: 30px;
}
@media (max-width: 500px) {
    #titleWordle {
        margin-top: 130px;
    }
  }

#youWinText1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 0px;
    z-index: 3;
}

#youWinText1.win {
    position: absolute;
    top: 18%;
    left: 23%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 400px;
    font-style: italic;
    z-index: -1;
    transition: 0.3s;
}
#youWinText2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 0px;
    z-index: 3;
}

#youWinText2.win {
    position: absolute;
    top: 18%;
    left: 76%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 400px;
    font-style: italic;
    z-index: -1;
    transition: 0.3s;
}
#youLooseText1 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 0px;
    z-index: 3;
}

#youLooseText1.lost {
    position: absolute;
    top: 18%;
    left: 23%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 400px;
    font-style: italic;
    z-index: -1;
    transition: 0.3s;
}
#youLooseText2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 0px;
    z-index: 3;
}

#youLooseText2.lost {
    position: absolute;
    top: 18%;
    left: 76%;
    transform: translate(-50%,-50%);
    color: black;
    font-size: 400px;
    font-style: italic;
    z-index: -1;
    transition: 0.3s;
}

.styleBox1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 430px;
    height: 700px;
    margin-top: 0px;
    border-radius: 15px;
    transition: 0.3s;
    opacity: 1;
    z-index: 20;
}
.styleBox1.minimize {
    height: 50px;
    transition: 0.3s;
}

@media (max-width: 500px) {
    .styleBox1 {
        width: 250px;
        height: 430px;
        transition: 0.3s;
    }
    .styleBox1.minimize {
        height: 40px;
        font-size: 14px;
        transition: 0.3s;
    }
  }






.styleBox1.win {
    align-items: start;
    height: 500px;
    transition: 0.15s;
    padding: 10px 0px;
}
.styleBox1.lost {
    align-items: start;
    height: 500px;
    transition: 0.15s;
    padding: 10px 0px;
}
#doWordle {
    display: none;
}
#doWordle.minimize {
    display: block;
    width: 90%;
    height: 90%;
    background-color: transparent;
    color: rgb(77, 77, 77);
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-weight: 600;
}
#doWordle:hover {
    color: white;
}

.styleBox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 430px;
    min-height: 50px;
    margin-top: 2px;
    border-radius: 15px;
    transition: 0.2s;
    z-index: 20;
}

.styleBox2.minimize {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 430px;
    height: 700px;
    margin-top: 2px;
    border-radius: 15px;
    transition: 0.6s;
}

@media (max-width: 500px) {
    .styleBox2 {
        width: 250px;
        height: 40px;
        font-size: 14px;
    }
    .styleBox2.minimize {
        width: 250px;
        height: 430px;
    }
  }


.styleBox2.lost {
    display: none;
    transition-delay: 0.3s;
}
.styleBox2.win {
    display: none;
    transition-delay: 0.3s;
}
.midContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 380px;
    height: 650px;
    background-color: rgb(54, 54, 54);
    border-radius: 15px;
    padding: 15px;
    transition: 1s;
    opacity: 1;
}

.midContainer.minimize.minimize2 {
    opacity: 0;
    transition: 2s;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 380px;
    height: 650px;
    background-color: rgb(54, 54, 54);
    border-radius: 15px;
    padding: 15px;
    transition-delay: 0s;
}

@media (max-width: 500px) {
    .midContainer {
        width: 200px;
        height: 89%;
        transition: 0s;
    }
    .midContainer.minimize.minimize2 {
        width: 200px;
        height: 89%;
    }
  }


.midContainer.minimize {
    display: none;
}



.midContainer.win {
    height: 470px;
    transition: 0.15s;
}
.midContainer.lost {
    height: 470px;
    transition: 0.15s;
}


.guessWord {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .guessWord {
        height: 25px;
    }
  }

.guessLetter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    border-radius: 5px;
    background-color: black;
    font-size: 35px;
    font-weight: 700;
    transition: 1s;
}

@media (max-width: 500px) {
    .guessLetter {
        height: 36px;
        width: 36px;
        font-size: 18px;
    }
  }

 .guessLetter.animate {
    transform: rotatex(360deg);
 }




#typeWord {
    width: 60%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    text-align: center;
    background-color: rgb(77, 77, 77);
    color: lightgray;
    text-transform: uppercase;
    align-self: center;
    letter-spacing: 2px;
    font-weight: 600;
    outline: none;
    transition: 0.3s;
}
@media (max-width: 500px) {
    #typeWord {
        width: 95%; 
        height: 35px;
        font-size: 14px;

    }
  }

#typeWord:hover {
    transform: scale(1.01);
}

#typeWord.win {
    transition-delay: 0.3s;
    display: none;
}
#typeWord.lost {
    transition-delay: 0.3s;
    display: none;
}

.allLetters {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.allLetters.win {
    transition-delay: 0.3s;
    display: none;
}
.allLetters.lost {
    transition-delay: 0.3s;
    display: none;
}

.Row {
    display: flex;
    justify-content: center;
}

.letter {
    display: flex;
    height: 33px;
    width: 33px;
    margin: 2px 2px;
    background-color: black;
    border-radius: 5px;
    color: white;
    align-items: center;
    justify-content: center;
}
@media (max-width: 500px) {
    .letter {
        height: 20px;
        width: 20px;
        font-size: 10px;
    }
  }

#guessButton {
    display: none;
    
}

#makeWordle {
    width: 90%;
    height: 90%;
    background-color: transparent;
    color: rgb(77, 77, 77);
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-weight: 600;
}
#makeWordle:hover {
    color: white;
}
#makeWordle.minimize {
    display: none;
}

#typeOwnWordle {
    width: 60%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    text-align: center;
    background-color: rgb(77, 77, 77);
    padding: 0;
    color: lightgray;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    outline: none;
    transition: 0.3s;
}
@media (max-width: 500px) {
    #typeOwnWordle {
        width: 95%; 
        height: 37px;
        font-size: 14px;
    }
  }

#typeOwnWordle:hover {
    transform: scale(1.01);
}

.midContainer2 {
    flex-direction: column;
    gap: 10px;
    width: 380px;
    height: 650px;
    background-color: rgb(54, 54, 54);
    border-radius: 15px;
    padding: 15px;
    transition: 1s;
    opacity: 1;
    display: none;
}
@media (max-width: 500px) {
    .midContainer2 {
        width: 200px;
        height: 89%;
    }
  }

.midContainer2.maximize {
    display: flex;
    opacity: 0;
}

.midContainer2.maximize.maximize2 {
    opacity: 1;
}

#makeAndCopyBox {
    width: 100%;
    position: relative;
    height: auto;

    border: 0;
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: white;
    outline: none;
}

#makeWordleButton {
    position: inherit;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    text-align: center;
    background-color: rgb(77, 77, 77);
    outline: none;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: 600;
    outline: none;
    align-self: center;
    transition: 0.3s;
    z-index: 5;
}

#makeWordleButton:disabled {
    width: 95%;
    color: gray;
    cursor: not-allowed;
    transition: 0.3s;
    z-index: 5;
}
@media (max-width: 500px) {
    #makeWordleButton {
        width: 95%; 
        height: 37px;
        font-size: 14px;
    }
  }

#copyLinkButton:disabled {
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    height: 50px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    text-align: center;
    background-color: rgb(77, 77, 77);
    color: white;
    outline: none;
    transition: 0.3;
}
#copyLinkButton {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 95%;
    height: 50px;
    border-radius: 5px;
    border: 0;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(77, 77, 77);
    cursor: pointer;
    color: gray;
    outline: none;
    z-index: 1;
}
#copyLinkButton.hover {
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s;
}
#copyLinkButton:focus {     
    width: 100%;
    transition: 0.3s;  
}

#playAgain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    font-weight: 900;
    font-size: 0px;
    font-style: italic;
    z-index: -1;
	border: none;
    background: none;
	padding: 10px;
	cursor: pointer;
	outline: inherit;
}

#playAgain.win {
    top: 85%;
    font-size: 70px;
    transition: 1s;
    transition-delay: 0.3s;
    z-index: 21;
}
#playAgain.lost {
    top: 85%;
    font-size: 70px;
    transition: 1s;
    transition-delay: 0.3s;
    z-index: 21;
}

#facit {
    display: none;
}

/* Real word or not */

#topMakeWordle {
    border: 2px solid black;
    border-radius: 6px;
}

.yesOrNo {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#realWordYesBox {
    display: flex;
}
#realWordNoBox {
    display: flex;
}

.wordleRealWordYes {
    height: 65px;
    width: 65px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 35px;
    margin: 0 5px;
    font-weight: 700;
    transform: rotatex(360deg);
    transition: 1s;
    border: 0;
}

.wordleRealWordNo {
    height: 65px;
    width: 65px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 15px;
    margin: 0 5px;
    font-weight: 700;
    transform: rotatex(0deg);
    transition: 1s;
    border: 0;
}

.wordleRealWordNo.selected {
    font-size: 35px;
    transform: rotatex(360deg);
}
.wordleRealWordYes.notSelected {
    font-size: 15px;
    transform: rotatex(0deg);
}

#realWordText {
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
}

/* Type letters in "make wordle" */

#buttomMakeWordle {
    border-radius: 6px;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.makeLetter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 65px;
    border-radius: 5px;
    background-color: black;
    font-size: 35px;
    font-weight: 700;
    transition: 1s;
}

@media (max-width: 500px) {
    .makeLetter {
        height: 35px;
        width: 35px;
        font-size: 18px;
    }
  }
 .makeLetter.animate {
    transform: rotatex(360deg);
 }

@keyframes spin2 {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes colorchange {
    0% {
      background: yellow;
    }
    100% {
      background: blue;
    }
  }
  